<section class="content-header">
  <h1>
    Produto
  </h1>
</section>

<section class="content">
  <div class="form">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <label>
        Name:
        <input type="text" formControlName="name">
      </label>
      <label>
        Price:
        <input type="number" formControlName="price">
      </label>
      <label>
        Quantity:
        <input type="number" formControlName="quantity">
      </label>
      <label>
        Model:
        <input type="text" formControlName="model">
      </label>
      <label>
        Brand:
        <input type="text" formControlName="brand">
      </label>
      <!-- <label>
        Name:
        <input type="text" formControlName="name">
      </label>
      <label>
        Name:
        <input type="text" formControlName="name">
      </label>
      <label>
        Name:
        <input type="text" formControlName="name">
      </label> -->
      
  <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>
</div>

</section>
<section class="content-list">
  <div class="row">
    <div *ngFor="let book of productsJson" class="col-sm-6 col-xs-12">
      <st-book [book]="book"></st-book>
    </div>
  </div>
</section>


